In [1]:
import sqlite3
con = sqlite3.connect("ex000.db")

In [4]:
cur = con.cursor()

#cur.execute("CREATE Table Filme('Nome','Ano de Producao','Avaliacao')")

In [3]:
cur.execute("INSERT INTO Filme VALUES('Rei Leão',1998,8.9)")

In [5]:
resposta = cur.execute("select * from Filme where Nome=?",('Rei Leão',))
lista = resposta.fetchall()

In [6]:
display(lista)

[('Rei Leão', 1998, 8.9)]