In [7]:
import sqlite3

con = sqlite3.connect("artists.db")
cur = con.cursor()

In [9]:
#Criando a tabela
#cur.execute("CREATE TABLE artists(nome, idade, estilo)")

# Consultando a criação da tabela
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('artists',)

In [10]:
# Verificando se tem uma tabela "spam"
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [11]:
cur.execute(
     """
     INSERT INTO artists VALUES
     ('Ricardo Yamaguchi', 35, "Semi-realista"),
     ('Kim Jung Gi', 47, "Everything"), 
     ('Akira Toriyama', 68,'Manga(Mangaka - Dragon-ball)')
     """
)
con.commit()

In [12]:
res = cur.execute("select * from artists")
lst = res.fetchall()
display(lst)

[('Ricardo Yamaguchi', 35, 'Semi-realista'),
 ('Kim Jung Gi', 47, 'Everything'),
 ('Akira Toriyama', 68, 'Manga(Mangaka - Dragon-ball)'),
 ('Hirohiko Araki', 63, 'Mangaka - Jojo`s B.A'),
 (' Masashi Kishimoto', 49, 'Mangaka - Naruto'),
 ('Eiichiro Oda', 49, 'Mangaka - One piece'),
 (' Yoshihiro Togashi', 57, 'Mangaka - HunterXHunter'),
 ('Ricardo Yamaguchi', 35, 'Semi-realista'),
 ('Kim Jung Gi', 47, 'Everything'),
 ('Akira Toriyama', 68, 'Manga(Mangaka - Dragon-ball)')]

In [13]:
data = [
     ('Hirohiko Araki', 63, 'Mangaka - Jojo`s B.A'),
     ('Masashi Kishimoto', 49, 'Mangaka - Naruto'),
     ('Eiichiro Oda', 49, 'Mangaka - One piece'),
     ('Yoshihiro Togashi', 57, 'Mangaka - HunterXHunter')
     ]

cur.executemany("INSERT INTO artists VALUES(?, ?, ?)", data)
con.commit()

for row in cur.execute("SELECT nome, idade, estilo FROM artists ORDER BY nome"):
     display(row)

(' Masashi Kishimoto', 49, 'Mangaka - Naruto')

(' Yoshihiro Togashi', 57, 'Mangaka - HunterXHunter')

('Akira Toriyama', 68, 'Manga(Mangaka - Dragon-ball)')

('Akira Toriyama', 68, 'Manga(Mangaka - Dragon-ball)')

('Eiichiro Oda', 49, 'Mangaka - One piece')

('Eiichiro Oda', 49, 'Mangaka - One piece')

('Hirohiko Araki', 63, 'Mangaka - Jojo`s B.A')

('Hirohiko Araki', 63, 'Mangaka - Jojo`s B.A')

('Kim Jung Gi', 47, 'Everything')

('Kim Jung Gi', 47, 'Everything')

('Masashi Kishimoto', 49, 'Mangaka - Naruto')

('Ricardo Yamaguchi', 35, 'Semi-realista')

('Ricardo Yamaguchi', 35, 'Semi-realista')

('Yoshihiro Togashi', 57, 'Mangaka - HunterXHunter')